@using PundoPH.Model
@page "/fetchdata"

<PageTitle>Donation list for chapel</PageTitle>

@using PundoPH.Data
@inject ContributionService ContributionService
@* @inject WeatherForecastService ForecastService *@

<h1>Donation list for chapel</h1>

<p>This component demonstrates fetching data from a service.</p>

<a href="/AddContribution">Add Contribution</a>

@if (contribution == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Transacted by</th>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in contribution)
            {
                <tr>
                    <td>@c.ContributionID</td>
                    <td>@c.Name</td>
                    <td>@c.Description</td>
                    <td>@c.Amount</td>
                    <td>@c.UserName</td>
                    <td><a href="/EditContribution/@c.ContributionID"> Edit </a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    // private WeatherForecast[]? forecasts;
        private List<Contribution>? contribution;

    protected override async Task OnInitializedAsync()
    {
        contribution = await ContributionService.GetContribution();//ForecastService.GetForecastAsync(DateTime.Now);
    }
}
